{{ define "main" }}
<header class="list-header">
  <h1>{{ .Title }}</h1>
  {{ with .Content }}
  <div class="list-intro">{{ . }}</div>
  {{ end }}
</header>
<content class="content-body">
  {{ if .Data.Singular }}
  <h3>Filtering for "{{ .Title }}"</h3>
  <small>
    <a href="{{ "blog" | relURL }}">Remove filter</a>
  </small>
  {{ end }}
  <ul class="blog-posts">
    {{ range .Pages.ByDate.Reverse }}
    <li>
      <span class="archive-date">
        <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
          {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
        </time>
      </span>
      <div class="archive-body">
        <a href="{{ .RelPermalink }}" class="list-item-link">{{ .Title }}</a>
        {{ with .Description }}
        <p class="post-summary">{{ . }}</p>
        {{ end }}
      </div>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
  {{ if .Data.Singular }}
  {{else}}
    <!-- <small>
      <div>
        {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
        {{ end }}
      </div>
    </small> -->
    {{ end }}
</content>
{{ end }}
